<template>
	<svg class="company-logo-svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 150 29" style="enable-background:new 0 0 150 29;" xml:space="preserve" role="img">
		<path id="circle-1" class="circle circle-1"
			d="M18.5,14.7c0-2.6-2.1-4.7-4.7-4.7c-2.6,0-4.7,2.1-4.7,4.7c0,2.6,2.1,4.7,4.7,4.7
		C16.4,19.5,18.5,17.4,18.5,14.7z M11,14.7c0-1.5,1.2-2.8,2.8-2.8s2.8,1.2,2.8,2.8c0,1.6-1.2,2.8-2.8,2.8S11,16.3,11,14.7z" />
		<g id="circle-3" class="circle circle-3">
			<path class="" d="M22.8,6.7c0.2,0,0.5-0.1,0.7-0.3c0.4-0.4,0.4-1,0-1.4c-0.4-0.4-1-0.4-1.4,0c-0.4,0.4-0.4,1,0,1.4
			C22.3,6.6,22.5,6.7,22.8,6.7z" />
			<path class="" d="M24.8,9.4c0.1,0,0.4-0.1,0.5-0.1c0.4-0.3,0.7-0.9,0.4-1.3c-0.3-0.4-0.9-0.7-1.3-0.4C24,7.8,23.7,8.4,24,8.9
			C24.1,9.1,24.5,9.4,24.8,9.4z" />
			<path class="" d="M25.1,11.7c0.1,0.4,0.5,0.7,0.9,0.7c0.1,0,0.1,0,0.2,0c0.5-0.1,0.8-0.7,0.7-1.2c-0.1-0.5-0.7-0.8-1.2-0.7
			C25.3,10.7,25,11.2,25.1,11.7z" />
			<path class="" d="M16.8,3.3c0.1,0,0.1,0,0.2,0c0.4,0,0.8-0.3,0.9-0.7c0.2-0.4-0.1-1-0.7-1.2s-1.1,0.1-1.2,0.7
			C16,2.7,16.3,3.3,16.8,3.3z" />
			<path class="" d="M19.6,4.6c0.1,0.1,0.3,0.1,0.5,0.1c0.4,0,0.7-0.1,0.9-0.5c0.3-0.4,0.1-1.1-0.4-1.3c-0.4-0.3-1.1-0.1-1.3,0.4
			C19,3.7,19.2,4.3,19.6,4.6z" />
			<path class="" d="M27.5,14.7c0-0.1,0-0.1,0-0.2c0-0.1,0-0.1-0.1-0.2c0-0.1-0.1-0.1-0.1-0.1c0-0.1-0.1-0.1-0.1-0.1
			c-0.1-0.1-0.1-0.1-0.1-0.1c-0.1,0-0.1-0.1-0.1-0.1c-0.1,0-0.1-0.1-0.2-0.1c-0.1,0-0.3,0-0.4,0c-0.1,0-0.1,0-0.2,0.1
			c-0.1,0-0.1,0.1-0.1,0.1c-0.1,0-0.1,0.1-0.1,0.1c-0.1,0.1-0.1,0.1-0.1,0.1c0,0.1-0.1,0.1-0.1,0.1c0,0.1-0.1,0.1-0.1,0.2
			c0,0.1,0,0.1,0,0.2c0,6.5-5.3,11.8-11.8,11.8C7.3,26.5,2,21.2,2,14.7C2,8.3,7.3,3,13.8,3c0.1,0,0.1,0,0.2,0s0.1,0,0.2-0.1
			c0.1,0,0.1-0.1,0.1-0.1c0.1,0,0.1-0.1,0.1-0.1c-0.1-0.1,0-0.1,0-0.1c0-0.1,0.1-0.1,0.1-0.1c0-0.1,0.1-0.1,0.1-0.2
			c0-0.1,0-0.1,0-0.2c0-0.1,0-0.1,0-0.2c0-0.1,0-0.1-0.1-0.2c0-0.1-0.1-0.1-0.1-0.1c0-0.1-0.1-0.1-0.1-0.1c-0.1-0.1-0.1-0.1-0.1-0.1
			c-0.1,0-0.1-0.1-0.1-0.1c-0.1,0-0.1-0.1-0.2-0.1c-0.1,0-0.1,0-0.2,0C6.2,1,0,7.2,0,14.7s6.2,13.7,13.7,13.7
			C21.3,28.5,27.5,22.4,27.5,14.7z" />
		</g>
		<g id="circle-2" class="circle circle-2">
			<path class="" d="M9.7,22.1c-0.2,0.5,0,1.1,0.5,1.3c0.1,0.1,0.2,0.1,0.4,0.1c0.4,0,0.7-0.2,0.9-0.6c0.2-0.5,0-1.1-0.5-1.3
			C10.5,21.3,9.9,21.6,9.7,22.1z" />
			<path class="" d="M7.8,21.6c0.2,0,0.5-0.1,0.7-0.3c0.4-0.4,0.4-1,0-1.4c-0.4-0.4-1-0.4-1.4,0c-0.4,0.4-0.4,1,0,1.4
			C7.3,21.6,7.6,21.6,7.8,21.6z" />
			<path class="" d="M5.7,17.1c-0.5,0.2-0.7,0.8-0.5,1.3c0.1,0.4,0.5,0.6,0.9,0.6c0.1,0,0.2,0,0.4-0.1c0.5-0.2,0.7-0.8,0.5-1.3
			C6.8,17.1,6.2,16.8,5.7,17.1z" />
			<path class="" d="M12.9,23.5c0,0.1,0.1,0.1,0.1,0.1c0,0.1,0.1,0.1,0.1,0.1c0.1,0.1,0.1,0.1,0.1,0.1c0.1,0,0.1,0.1,0.1,0.1
			c0.1,0,0.1,0.1,0.2,0.1c0.1,0,0.1,0,0.2,0c5.2,0,9.3-4.2,9.3-9.3c0-5.2-4.2-9.3-9.3-9.3c-5.2,0-9.3,4.2-9.3,9.3c0,0.1,0,0.1,0,0.2
			s0,0.1,0.1,0.2c0,0.1,0.1,0.1,0.1,0.1c0,0.1,0.1,0.1,0.1,0.1c0.1,0.1,0.1,0.1,0.1,0.1c0.1,0,0.1,0.1,0.1,0.1c0.1,0,0.1,0.1,0.2,0.1
			c0.1,0,0.1,0,0.2,0c0.1,0,0.1,0,0.2,0c0.1,0,0.1,0,0.2-0.1c0.1,0,0.1-0.1,0.1-0.1c0.1,0,0.1-0.1,0.1-0.1c0.1-0.1,0.1-0.1,0.1-0.1
			c0-0.1,0.1-0.1,0.1-0.1c0-0.1,0.1-0.1,0.1-0.2s0-0.1,0-0.2c0-4.1,3.3-7.3,7.3-7.3c4.1,0,7.3,3.3,7.3,7.3c0,4.1-3.3,7.3-7.3,7.3
			c-0.1,0-0.1,0-0.2,0s-0.1,0-0.2,0.1c-0.1,0-0.1,0.1-0.1,0.1c-0.1,0-0.1,0.1-0.1,0.1c-0.1,0.1-0.1,0.1-0.1,0.1
			c0,0.1-0.1,0.1-0.1,0.1c0,0.1-0.1,0.1-0.1,0.2s0,0.1,0,0.2c0,0.1,0,0.1,0,0.2C12.8,23.3,12.8,23.4,12.9,23.5z" />
		</g>
		<path id="letter-1" class="letter letter-1" d="M47,6.3c2,0,3.6,0.7,4.9,2.2s2,3.3,2,5.5c0,2.3-0.7,4.1-2,5.6c-1.4,1.5-3,2.2-4.9,2.2
		c-2,0-3.5-0.8-4.6-2.4v7c0,0.7-0.6,1.3-1.3,1.3c-0.7,0-1.3-0.6-1.3-1.3V7.6c0-0.6,0.4-1,1-1c0.4,0,0.9,0.3,0.9,0.7l0.4,1.2h0.5
		C43.7,7,45.2,6.3,47,6.3z M46.8,19.3c1.2,0,2.3-0.5,3.2-1.5c0.9-0.9,1.4-2.3,1.4-3.8c0-1.5-0.4-2.8-1.4-3.8c-0.9-0.9-2-1.5-3.2-1.5
		c-1.2,0-2.2,0.4-3,1.3c-0.9,0.9-1.3,2.2-1.3,3.9s0.4,3,1.3,3.9C44.6,18.9,45.6,19.3,46.8,19.3z" />
		<path id="letter-2" class="letter letter-2"
			d="M57.8,8.4c1.4-1.4,3.1-2.1,5.1-2.1c2,0,3.6,0.7,5,2.2c1,1.1,1.6,2.5,1.8,4.3c0.1,1-0.7,2-1.7,2
		h-9.7c0.1,1.4,0.6,2.5,1.5,3.3c0.8,0.8,1.9,1.2,3.2,1.2c1.5,0,2.6-0.5,3.4-1.5c0.2-0.3,0.6-0.4,0.9-0.4c1,0,1.6,1.2,0.9,2
		c-0.4,0.4-0.9,0.9-1.4,1.2c-1.2,0.8-2.5,1.2-3.8,1.2c-2,0-3.7-0.7-5.1-2.2c-1.4-1.5-2.1-3.3-2.1-5.7C55.7,11.7,56.4,9.9,57.8,8.4z
		M65.6,9.7c-0.7-0.7-1.7-1.1-2.8-1.1c-1.1,0-2,0.4-2.8,1.1c-0.8,0.7-1.3,1.7-1.5,2.9h8.6C66.8,11.3,66.4,10.4,65.6,9.7z" />
		<path id="letter-3" class="letter letter-3" d="M78.8,21.8c-2,0-3.6-0.7-5.1-2.3c-1.5-1.5-2.2-3.3-2.2-5.5s0.7-4,2.2-5.5
		c1.5-1.5,3.1-2.3,5.1-2.3c2,0,3.6,0.7,5.1,2.3c1.5,1.5,2.2,3.3,2.2,5.5s-0.7,4.1-2.2,5.5C82.5,21.1,80.8,21.8,78.8,21.8z M75.5,17.8
		c0.9,1,2,1.5,3.3,1.5c1.4,0,2.5-0.5,3.3-1.5c0.9-1,1.3-2.3,1.3-3.7s-0.4-2.8-1.3-3.7c-0.9-1-2-1.5-3.3-1.5c-1.4,0-2.5,0.5-3.3,1.5
		c-0.9,1-1.3,2.3-1.3,3.7S74.6,16.8,75.5,17.8z" />
		<path id="letter-4" class="letter letter-4" d="M95.5,6.3c2,0,3.6,0.7,4.9,2.2c1.4,1.5,2,3.3,2,5.5c0,2.3-0.7,4.1-2,5.5c-1.4,1.5-3,2.2-4.9,2.2
		c-2,0-3.5-0.8-4.6-2.4v7c0,0.7-0.6,1.3-1.3,1.3c-0.7,0-1.3-0.6-1.3-1.3V7.5c0-0.6,0.4-1,1-1c0.4,0,0.9,0.3,0.9,0.7l0.4,1.2h0.5
		C92.2,7,93.7,6.3,95.5,6.3z M95.3,19.3c1.2,0,2.3-0.5,3.2-1.5c0.9-0.9,1.4-2.3,1.4-3.8c0-1.5-0.4-2.8-1.4-3.8
		c-0.9-0.9-2-1.5-3.2-1.5c-1.2,0-2.2,0.4-3,1.3c-0.9,0.9-1.3,2.2-1.3,3.9s0.4,3,1.3,3.9C93.1,18.9,94.1,19.3,95.3,19.3z" />
		<path id="letter-5" class="letter letter-5" d="M106.1,0.1c0.7,0,1.3,0.6,1.3,1.3v18.9c0,0.7-0.6,1.3-1.3,1.3c-0.7,0-1.3-0.6-1.3-1.3V1.5
		C104.8,0.7,105.3,0.1,106.1,0.1z" />
		<path id="letter-6" class="letter letter-6" d="M111.7,3.8c-0.5,0-1-0.2-1.4-0.6c-0.4-0.4-0.6-0.9-0.6-1.4c0-0.6,0.2-1,0.6-1.4
		c0.4-0.4,0.9-0.6,1.4-0.6c0.5,0,0.9,0.2,1.4,0.6c0.4,0.4,0.6,0.8,0.6,1.4c0,0.5-0.2,0.9-0.6,1.4C112.6,3.7,112.2,3.8,111.7,3.8z
		M113,7.8v12.5c0,0.7-0.6,1.3-1.3,1.3s-1.3-0.6-1.3-1.3V7.8c0-0.7,0.6-1.3,1.3-1.3S113,7.1,113,7.8z" />
		<path id="letter-7" class="letter letter-7" d="M126.3,17.3c0,1.4-0.5,2.5-1.5,3.3c-1,0.8-2.3,1.2-3.8,1.2c-1.7,0-3-0.5-4.1-1.5
		c-0.7-0.6-1.1-1.3-1.4-2.1c-0.2-0.7,0.4-1.5,1.1-1.5h0.1c0.5,0,0.9,0.4,1.1,0.9c0.1,0.5,0.4,0.9,0.9,1.2c0.7,0.5,1.4,0.7,2.3,0.7
		c0.8,0,1.5-0.2,2-0.6c0.5-0.4,0.8-0.9,0.8-1.6c0-0.7-0.3-1.2-0.8-1.5c-0.5-0.4-1.3-0.7-2.3-0.9c-0.5-0.1-1-0.3-1.3-0.4
		c-0.4-0.1-0.7-0.3-1.2-0.5c-0.5-0.2-0.9-0.5-1.2-0.8c-0.3-0.3-0.6-0.7-0.8-1.1c-0.2-0.4-0.4-1-0.4-1.6c0-1.3,0.4-2.3,1.4-3
		s2.1-1.1,3.6-1.1c1.6,0,2.8,0.4,3.8,1.3c0.4,0.4,0.8,0.9,1,1.3c0.4,0.8-0.2,1.7-1.1,1.7h-0.1c-0.4,0-0.8-0.3-1-0.7
		c-0.1-0.3-0.4-0.6-0.7-0.8c-0.5-0.4-1.2-0.7-2-0.7c-0.7,0-1.3,0.2-1.7,0.6c-0.4,0.4-0.7,0.9-0.7,1.5c0,0.7,0.3,1.1,0.7,1.4
		c0.5,0.3,1.2,0.6,2.2,0.9c0.6,0.1,1.1,0.3,1.5,0.4c0.4,0.1,0.8,0.3,1.3,0.6c0.5,0.2,0.9,0.5,1.2,0.8c0.3,0.3,0.6,0.7,0.8,1.2
		C126.3,16.2,126.3,16.7,126.3,17.3z" />
		<path id="letter-8" class="letter letter-8" d="M144.7,6.3c1.7,0,3,0.7,3.9,2c0.9,1.3,1.4,3,1.4,5.2v6.9c0,0.7-0.6,1.3-1.3,1.3
		c-0.7,0-1.3-0.6-1.3-1.3v-6c0-0.8,0-1.5-0.1-2.2c-0.1-0.6-0.2-1.2-0.4-1.7c-0.2-0.6-0.5-1-0.9-1.3c-0.4-0.3-0.9-0.4-1.5-0.4
		c-1,0-1.8,0.4-2.5,1.1c-0.7,0.7-1.1,1.7-1.1,3v7.5c0,0.7-0.6,1.3-1.3,1.3s-1.3-0.6-1.3-1.3v-6c0-0.8,0-1.5-0.1-2.2
		c-0.1-0.6-0.2-1.2-0.4-1.7c-0.2-0.6-0.5-1-0.9-1.3c-0.4-0.3-0.9-0.4-1.5-0.4c-1,0-1.9,0.4-2.6,1.2c-0.7,0.8-1.1,1.8-1.1,3.2v7.3
		c0,0.7-0.6,1.3-1.3,1.3c-0.7,0-1.3-0.6-1.3-1.3V7.5c0-0.6,0.4-1,1-1c0.4,0,0.8,0.3,0.9,0.7l0.3,0.9h0.4c1.1-1.2,2.3-1.8,3.8-1.8
		c1.7,0,3,0.8,4.2,2.4h0.5C141.3,7.2,142.8,6.3,144.7,6.3z" />
	</svg>
</template>